@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
body {
  font-family: "Raleway", sans-serif;
  background-color: #f5f8fa; }
  body form {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    font-weight: bold; }
    body form div {
      padding: 5px; }
    body form label {
      color: darkgreen;
      padding: 8px;
      margin-bottom: 10px;
      font-size: 14px; }
    body form textarea {
      width: 600px;
      height: 120px;
      border: 3px solid #cccccc;
      padding: 5px;
      font-size: 14px; }
    body form input[type=submit] {
      font-size: 14px;
      background-color: darkgreen;
      border: none;
      color: white;
      padding: 16px 32px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer; }

/*# sourceMappingURL=style.css.map */
